In [ ]:

import pandas as pd
import numpy as np

In [ ]:
bookk=pd.read_csv('/content/book (1).csv', encoding='latin-1')
bookk

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [ ]:
bookk.describe

<bound method NDFrame.describe of       Unnamed: 0  User.ID                                         Book.Title  \
0              1   276726                                Classical Mythology
1              2   276729                                       Clara Callan
2              3   276729                               Decision in Normandy
3              4   276736  Flu: The Story of the Great Influenza Pandemic...
4              5   276737                             The Mummies of Urumchi
...          ...      ...                                                ...
9995        9996   162121       American Fried: Adventures of a Happy Eater.
9996        9997   162121                              Cannibal In Manhattan
9997        9998   162121                    How to Flirt: A Practical Guide
9998        9999   162121                                           Twilight
9999       10000   162129                       Kids Say the Darndest Things

      Book.Rating
0               5
1               3
2               6
3               8
4               6
...           ...
9995            7
9996            9
9997            7
9998            8
9999            6

[10000 rows x 4 columns]>

In [ ]:
bookk.shape

(10000, 4)

In [ ]:
bookk.drop(bookk.columns[0],axis=1,inplace=True)

In [ ]:
bookk.nunique()

User.ID        2182
Book.Title     9659
Book.Rating      10
dtype: int64

In [ ]:
bookk.rename(columns={'User.ID':'userid'},inplace=True)

In [ ]:
book=bookk.drop_duplicates('userid')

In [ ]:
df=book.pivot(index='userid',columns='Book.Title',values='Book.Rating').reset_index(drop=True)

In [ ]:
book

      userid                                         Book.Title  Book.Rating
0     276726                                Classical Mythology            5
1     276729                                       Clara Callan            3
3     276736  Flu: The Story of the Great Influenza Pandemic...            8
4     276737                             The Mummies of Urumchi            6
5     276744                             The Kitchen God's Wife            7
...      ...                                                ...          ...
9987  162107                            What's Bred in the Bone            7
9988  162109                            The Flower in the Skull           10
9989  162113       The Cape Ann (Contemporary American Fiction)            8
9990  162121                                  The Cloister Walk            7
9999  162129                       Kids Say the Darndest Things            6

[2182 rows x 3 columns]

In [ ]:
df

Book.Title,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,101 Bright Ideas: Esl Activities for All Ages,101 Dalmatians,11th Hour,13 99 Euros,"20,001 Names for Baby",2001 Spanish and English Idioms/2001 Modismos Espanoles E Ingleses: 2001 Modismos Espanoles E Ingleses,2061: Odyssey Three,253,...,Your Oasis on Flame Lake,"Yours, Mine And ...Ours (Silhouette Special Edition, No 682)",Yukon Ho!,Yuwipi: Vision and Experience in Oglala Ritual,Zeit im Wind.,Zen in the Art of Archery (Vintage Spiritual Classics),Zlateh the Goat and Other Stories,Zodiac: The Eco-Thriller,Zombies of the Gene Pool,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.fillna(0,inplace=True)
df

Book.Title,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,101 Bright Ideas: Esl Activities for All Ages,101 Dalmatians,11th Hour,13 99 Euros,"20,001 Names for Baby",2001 Spanish and English Idioms/2001 Modismos Espanoles E Ingleses: 2001 Modismos Espanoles E Ingleses,2061: Odyssey Three,253,...,Your Oasis on Flame Lake,"Yours, Mine And ...Ours (Silhouette Special Edition, No 682)",Yukon Ho!,Yuwipi: Vision and Experience in Oglala Ritual,Zeit im Wind.,Zen in the Art of Archery (Vintage Spiritual Classics),Zlateh the Goat and Other Stories,Zodiac: The Eco-Thriller,Zombies of the Gene Pool,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book)
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
AVG = book['Book.Rating'].mean()
print(AVG)

7.458295142071494

**Calculating Cosine Similarity between users**

In [ ]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine,correlation

In [ ]:
user_sim=1-pairwise_distances(df.values,metric='cosine')

In [ ]:
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [ ]:
df_user=pd.DataFrame(user_sim)

In [ ]:
df_user.iloc[0:5, 0:5]

     0    1    2    3    4
0  1.0  0.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0  0.0
2  0.0  0.0  1.0  0.0  0.0
3  0.0  0.0  0.0  1.0  0.0
4  0.0  0.0  0.0  0.0  1.0

In [ ]:
np.fill_diagonal(user_sim, 0)
df_user.iloc[0:5, 0:5]

     0    1    2    3    4
0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0

In [ ]:
#Most Similar Users
df_user.idxmax(axis=1)[0:5]

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [ ]:
#Most Similar Users
print(df_user.idxmax(axis=1)[1348])
print(df_user.max(axis=1).sort_values(ascending=False).head(50))

0
1100    1.0
1187    1.0
137     1.0
1235    1.0
179     1.0
180     1.0
2001    1.0
1997    1.0
1985    1.0
1976    1.0
1970    1.0
1939    1.0
253     1.0
1925    1.0
1426    1.0
1841    1.0
359     1.0
721     1.0
705     1.0
420     1.0
427     1.0
1528    1.0
657     1.0
1545    1.0
1722    1.0
630     1.0
1577    1.0
1583    1.0
1596    1.0
540     1.0
1625    1.0
135     1.0
561     1.0
1072    1.0
1101    1.0
2176    1.0
15      1.0
1472    0.0
1471    0.0
1470    0.0
1469    0.0
1473    0.0
1462    0.0
1468    0.0
1474    0.0
1467    0.0
1466    0.0
1465    0.0
1464    0.0
1463    0.0
dtype: float64

In [ ]:
reader = book[(book['userid']==1348) | (book['userid']==2576)]
reader

      userid                               Book.Title  Book.Rating
3915    1348  Fantastic Beasts and Where to Find Them            7
5699    2576                                 Stardust           10

**Result : BookTitle Stardust whose UserID 2576 has BookRating 10**